<html>
<head>
  <title>受注／発注シート</title>
</head>
<body>

<h1>受発注情報管理システム</h1>

<h2>受発注情報管理機能</h2>
受発注情報一覧<br>
受注情報登録<br>
発注情報登録<br>

<h2>マスタメンテ機能</h2>
<table align="center" width="100%" border="1" cellspacing="1">
  <tr>
    <th>
      <%= link_to '取引先マスタ', '/company_masters#index' %>
    </th>
    <td>
      取引先を部署単位で管理するマスタ
    </td>
  </tr>
  <tr>
    <th>
      <%= link_to '社員マスタ', '/employee_master#index' %>
    </th>
    <td>
      社員管理用のマスタ
    </td>
  </tr>
  <tr>
    <th>
      <%= link_to '案件マスタ', '/project_master#index' %>
    </th>
    <td>
      案件管理用のマスタ
    </td>
  </tr>

  <tr>
    <th>
      <%= link_to '業務マスタ', '/business_master#index' %>
    </th>
    <td>
      業務における工程内容を管理するマスタ
    </td>
  </tr>
  <tr>
    <th>
      <%= link_to '職制マスタ', '/position_master#index' %>
    </th>
    <td>
      自社内の職制を管理するマスタ
    </td>
  </tr>
  <tr>
    <th>
      <%= link_to '部署マスタ', '/unit_master#index' %>
    </th>
    <td>
     自社内の部署を管理するマスタ
    </td>
  </tr>
  <tr>
    <th>
      <%= link_to '入金サイトマスタ', '/payment_site_master#index' %>
    </th>
    <td>
     入金サイトを管理するマスタ
    </td>
  </tr>
</table>

</body>
</html>
