<%= render '/layouts/header' %>
<h2>業務マスタ一覧</h2>

<table id="default">
  <thead>
    <tr>
      <th>業務名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @business_masters.each do |business_master| %>
    <tr>
      <td><%= business_master.business_name %></td>
      <td><%= link_to '照会', business_master %></td>
      <td><%= link_to '更新', edit_business_master_path(business_master) %></td>
      <td><%= link_to '削除', business_master, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規登録', new_business_master_path %>
