<%= render '/layouts/header' %>
<h2>業務マスタ照会</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @business_master.business_name %>
</p>


<%= link_to '参照', edit_business_master_path(@business_master) %> |
<%= link_to 'メニューへ戻る', '/top/index' %>
