<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_break_time.order_id %>
</p>

<p>
  <strong>Break start time:</strong>
  <%= @order_break_time.break_start_time %>
</p>

<p>
  <strong>Break end time:</strong>
  <%= @order_break_time.break_end_time %>
</p>


<%= link_to 'Edit', edit_order_break_time_path(@order_break_time) %> |
<%= link_to 'Back', order_break_times_path %>
