<%= form_for(@company_master) do |f| %>
  <% if @company_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_master.errors.count, "error") %> prohibited this company_master from being saved:</h2>

      <ul>
      <% @company_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "取引先会社名" %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label "部署名" %><br />
    <%= f.text_field :division_name %>
  </div>
  <div class="field">
    <%= f.label "担当者名" %><br />
    <%= f.text_field :charge_person %>
  </div>
  <div class="field">
    <%= f.label "連絡先" %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label "連絡先電話番号" %><br />
    <%= f.text_field :tel_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
