<%= render '/layouts/header' %>
<h2>取引先マスタ　一覧</h2>
<table>
  <thead>
    <tr>
      <th>取引会社名</th>
      <th>部署名</th>
      <th>担当者名</th>
      <th>連絡先</th>
      <th>連絡先電話番号</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_masters.each do |company_master| %>
    <tr>
      <td><%= company_master.company_name %></td>
      <td><%= company_master.division_name %></td>
      <td><%= company_master.charge_person %></td>
      <td><%= company_master.contact %></td>
      <td><%= company_master.tel_no %></td>
      <td><%= link_to '照会', company_master %></td>
      <td><%= link_to '更新', edit_company_master_path(company_master) %></td>
      <td><%= link_to '削除', company_master, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Company master', new_company_master_path %>
