<%= render '/layouts/header' %>
<h2>取引先マスタ　照会</h2>
<p>
  <strong>取引会社名:</strong>
  <%= @company_master.company_name %>
</p>

<p>
  <strong>部署名:</strong>
  <%= @company_master.division_name %>
</p>

<p>
  <strong>担当者名:</strong>
  <%= @company_master.charge_person %>
</p>

<p>
  <strong>連絡先:</strong>
  <%= @company_master.contact %>
</p>

<p>
  <strong>連絡先電話番号:</strong>
  <%= @company_master.tel_no %>
</p>


<%= link_to '更新', edit_company_master_path(@company_master) %>
<%= link_to '戻る', company_masters_path %>
