<h1>Listing ordersheetrails</h1>

<table>
  <thead>
    <tr>
      <th>G</th>
      <th>Scaffold</th>
      <th>Ordersheet</th>
      <th>Company cd</th>
      <th>Reg date</th>
      <th>Mod date</th>
      <th>Company name</th>
      <th>String</th>
      <th>Division name</th>
      <th>Charge person</th>
      <th>Contact</th>
      <th>Tel no</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ordersheetrails.each do |ordersheetrail| %>
    <tr>
      <td><%= ordersheetrail.g %></td>
      <td><%= ordersheetrail.scaffold %></td>
      <td><%= ordersheetrail.ordersheet %></td>
      <td><%= ordersheetrail.company_cd %></td>
      <td><%= ordersheetrail.reg_date %></td>
      <td><%= ordersheetrail.mod_date %></td>
      <td><%= ordersheetrail.company_name %></td>
      <td><%= ordersheetrail.string %></td>
      <td><%= ordersheetrail.division_name %></td>
      <td><%= ordersheetrail.charge_person %></td>
      <td><%= ordersheetrail.contact %></td>
      <td><%= ordersheetrail.tel_no %></td>
      <td><%= link_to 'Show', ordersheetrail %></td>
      <td><%= link_to 'Edit', edit_ordersheetrail_path(ordersheetrail) %></td>
      <td><%= link_to 'Destroy', ordersheetrail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Ordersheetrail', new_ordersheetrail_path %>
