<p id="notice"><%= notice %></p>

<p>
  <strong>G:</strong>
  <%= @ordersheetrail.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @ordersheetrail.scaffold %>
</p>

<p>
  <strong>Ordersheet:</strong>
  <%= @ordersheetrail.ordersheet %>
</p>

<p>
  <strong>Company cd:</strong>
  <%= @ordersheetrail.company_cd %>
</p>

<p>
  <strong>Reg date:</strong>
  <%= @ordersheetrail.reg_date %>
</p>

<p>
  <strong>Mod date:</strong>
  <%= @ordersheetrail.mod_date %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @ordersheetrail.company_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @ordersheetrail.string %>
</p>

<p>
  <strong>Division name:</strong>
  <%= @ordersheetrail.division_name %>
</p>

<p>
  <strong>Charge person:</strong>
  <%= @ordersheetrail.charge_person %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @ordersheetrail.contact %>
</p>

<p>
  <strong>Tel no:</strong>
  <%= @ordersheetrail.tel_no %>
</p>


<%= link_to 'Edit', edit_ordersheetrail_path(@ordersheetrail) %> |
<%= link_to 'Back', ordersheetrails_path %>
