<%= form_for(@order_arrival_date) do |f| %>
  <% if @order_arrival_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_arrival_date.errors.count, "error") %> prohibited this order_arrival_date from being saved:</h2>

      <ul>
      <% @order_arrival_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_no %><br />
    <%= f.number_field :order_no %>
  </div>
  <div class="field">
    <%= f.label :detail_no %><br />
    <%= f.number_field :detail_no %>
  </div>
  <div class="field">
    <%= f.label :arrival_date %><br />
    <%= f.date_select :arrival_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
