<%= form_for(@employee_master) do |f| %>
  <% if @employee_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_master.errors.count, "error") %> prohibited this employee_master from being saved:</h2>

      <ul>
      <% @employee_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "社員番号" %><br />
    <%= f.text_field :employee_cd %>
  </div>
  <div class="field">
    <%= f.label "氏名（かな）" %><br />
    <%= f.text_field :employee_name %>
  </div>
  <div class="field">
    <%= f.label "氏名（かな）" %><br />
    <%= f.text_field :employee_name_kana %>
  </div>
  <div class="field">
    <%= f.label "職制" %><br />
    <%= f.select :position_id, @position_masters.all.map{|position| [position.position_name, position.id]} %>
  </div>
  <div class="field">
    <%= f.label "部署名" %><br />
    <%= f.number_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label "eメールアドレス1" %><br />
    <%= f.text_field :email_address1 %>
  </div>
  <div class="field">
    <%= f.label "eメールアドレス2" %><br />
    <%= f.text_field :emai_address2 %>
  </div>
  <div class="field">
    <%= f.label "郵便番号" %><br />
    <%= f.text_field :postal_cd %>
  </div>
  <div class="field">
    <%= f.label "住所１" %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label "住所２" %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label "電話番号" %><br />
    <%= f.text_field :tel_no %>
  </div>
  <div class="field">
    <%= f.label "FAX番号" %><br />
    <%= f.text_field :fax_no %>
  </div>
  <div class="field">
    <%= f.label "携帯１" %><br />
    <%= f.text_field :mobile_tel_no1 %>
  </div>
  <div class="field">
    <%= f.label "携帯２" %><br />
    <%= f.text_field :mobile_tel_no2 %>
  </div>
  <div class="field">
    <%= f.label "緊急連絡先" %><br />
    <%= f.text_field :emergency_tel_no %>
  </div>
  <div class="field">
    <%= f.label "生年月日" %><br />
    <%= f.date_select :birth_date %>
  </div>
  <div class="field">
    <%= f.label "最寄駅" %><br />
    <%= f.text_field :station %>
  </div>
  <div class="field">
    <%= f.label "出身地" %><br />
    <%= f.text_field :birth_place %>
  </div>
  <div class="field">
    <%= f.label "最終学歴" %><br />
    <%= f.text_field :education_level %>
  </div>
  <div class="field">
    <%= f.label "備考" %><br />
    <%= f.text_area :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
