<%= render '/layouts/header' %>
<h2>従業員マスタ　一覧</h2>

<%= link_to '新規登録', new_employee_master_path %>
<br />
<table id="default">
  <thead>
    <tr>
      <th>社員番号</th>
      <th>氏名（漢字）</th>
      <th>氏名（かな）</th>
      <th>職制</th>
      <th>部署名</th>
      <th>eメールアドレス1</th>
      <th>eメールアドレス2</th>
      <th>郵便番号</th>
      <th>住所1</th>
      <th>住所2</th>
      <th>電話番号</th>
      <th>FAX番号</th>
      <th>携帯1</th>
      <th>携帯2</th>
      <th>緊急連絡先</th>
      <th>生年月日</th>
      <th>最寄駅</th>
      <th>出生地</th>
      <th>最終学歴</th>
      <th>備考</th>
      <th colspan=3></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_masters.each do |employee_master| %>
    <tr>
      <td><%= employee_master.employee_cd %></td>
      <td><%= employee_master.employee_name %></td>
      <td><%= employee_master.employee_name_kana %></td>
      <td><%= PositionMaster.find(employee_master.position_id).position_name %></td>
      <td><%= UnitMaster.find(employee_master.unit_id).unit_name %></td>
      <td><%= employee_master.email_address1 %></td>
      <td><%= employee_master.emai_address2 %></td>
      <td><%= employee_master.postal_cd %></td>
      <td><%= employee_master.address1 %></td>
      <td><%= employee_master.address2 %></td>
      <td><%= employee_master.tel_no %></td>
      <td><%= employee_master.fax_no %></td>
      <td><%= employee_master.mobile_tel_no1 %></td>
      <td><%= employee_master.mobile_tel_no2 %></td>
      <td><%= employee_master.emergency_tel_no %></td>
      <td><%= employee_master.birth_date %></td>
      <td><%= employee_master.station %></td>
      <td><%= employee_master.birth_place %></td>
      <td><%= employee_master.education_level %></td>
      <td><%= employee_master.other %></td>
      <td><%= link_to '照会', employee_master %></td>
      <td><%= link_to '更新', edit_employee_master_path(employee_master) %></td>
      <td><%= link_to '削除', employee_master, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

