<%= render '/layouts/header' %>
<h2>従業員マスタ　照会</h2>
<p>
  <strong>社員番号:</strong>
  <%= @employee_master.employee_cd %>
</p>

<p>
  <strong>氏名（漢字）:</strong>
  <%= @employee_master.employee_name %>
</p>

<p>
  <strong>氏名（かな）:</strong>
  <%= @employee_master.employee_name_kana %>
</p>

<p>
  <strong>職制:</strong>
  <%= @employee_master.position_id %>
</p>

<p>
  <strong>部署名:</strong>
  <%= @employee_master.unit_id %>
</p>

<p>
  <strong>eメールアドレス1:</strong>
  <%= @employee_master.email_address1 %>
</p>

<p>
  <strong>eメールアドレス2:</strong>
  <%= @employee_master.emai_address2 %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @employee_master.postal_cd %>
</p>

<p>
  <strong>住所1:</strong>
  <%= @employee_master.address1 %>
</p>

<p>
  <strong>住所2:</strong>
  <%= @employee_master.address2 %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @employee_master.tel_no %>
</p>

<p>
  <strong>FAX番号:</strong>
  <%= @employee_master.fax_no %>
</p>

<p>
  <strong>携帯1:</strong>
  <%= @employee_master.mobile_tel_no1 %>
</p>

<p>
  <strong>携帯2:</strong>
  <%= @employee_master.mobile_tel_no2 %>
</p>

<p>
  <strong>緊急連絡先:</strong>
  <%= @employee_master.emergency_tel_no %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @employee_master.birth_date %>
</p>

<p>
  <strong>最寄駅:</strong>
  <%= @employee_master.station %>
</p>

<p>
  <strong>出生地:</strong>
  <%= @employee_master.birth_place %>
</p>

<p>
  <strong>最終学歴:</strong>
  <%= @employee_master.education_level %>
</p>

<p>
  <strong>備考:</strong>
  <%= @employee_master.other %>
</p>


<%= link_to '更新', edit_employee_master_path(@employee_master) %> |
<%= link_to '戻る', employee_masters_path %>
