<p id="notice"><%= notice %></p>

<p>
  <strong>Employee cd:</strong>
  <%= @employee_master.employee_cd %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @employee_master.employee_name %>
</p>

<p>
  <strong>Employee name kana:</strong>
  <%= @employee_master.employee_name_kana %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee_master.position_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @employee_master.unit_id %>
</p>

<p>
  <strong>Email address1:</strong>
  <%= @employee_master.email_address1 %>
</p>

<p>
  <strong>Emai address2:</strong>
  <%= @employee_master.emai_address2 %>
</p>

<p>
  <strong>Postal cd:</strong>
  <%= @employee_master.postal_cd %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @employee_master.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @employee_master.address2 %>
</p>

<p>
  <strong>Tel no:</strong>
  <%= @employee_master.tel_no %>
</p>

<p>
  <strong>Fax no:</strong>
  <%= @employee_master.fax_no %>
</p>

<p>
  <strong>Mobile tel no1:</strong>
  <%= @employee_master.mobile_tel_no1 %>
</p>

<p>
  <strong>Mobile tel no2:</strong>
  <%= @employee_master.mobile_tel_no2 %>
</p>

<p>
  <strong>Emergency tel no:</strong>
  <%= @employee_master.emergency_tel_no %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee_master.birth_date %>
</p>

<p>
  <strong>Station:</strong>
  <%= @employee_master.station %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @employee_master.birth_place %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @employee_master.education_level %>
</p>

<p>
  <strong>Other:</strong>
  <%= @employee_master.other %>
</p>


<%= link_to 'Edit', edit_employee_master_path(@employee_master) %> |
<%= link_to 'Back', employee_masters_path %>
