<fieldset>
  <tr>
    <td><%= f.select :employee_id, @employee_masters.all.map{|emp| [emp.employee_name, emp.id]}, :include_blank => true %></td>
    <td><%= f.number_field :basic_amount, :in => 1...10000000 %></td>
    <td><%= f.number_field :time_limit_lower , :in => 1...1000 %></td>
    <td><%= f.number_field :time_limit_upper , :in => 1...1000 %></td>
    <td><%= f.number_field :deduction_bid , :in => 1...10000000 %></td>
    <td><%= f.number_field :overtime_bid , :in => 1...10000000 %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "削除", '#', class: "remove_fields" ,:style=>"color:blue;" %>
    </td>
  </tr>
</fieldset>
