<h1>受発注情報一覧</h1>

<table>
  <thead>
    <tr>
      <th>注文番号</th>
      <th>取引先会社名</th>
      <th>所属部署</th>
      <th>起票者</th>
      <th>売上計上部門</th>
      <th>案件名</th>
      <th>業務内容</th>
      <th>契約期間（開始）</th>
      <th>契約期間（終了）</th>
      <th>作業場所</th>
      <th>研修日</th>
      <th>入金サイト</th>
      <th>作業時間（開始）</th>
      <th>作業時間（終了）</th>
      <th>備考</th>
      <th>管理本部受領日</th>
      <th>注文書発効日</th>
      <th>注文ＮＯ</th>
      <th>管理本部備考</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_infos.each do |order_info| %>
  　<% css = cycle('even','odd') %>
    <tr class = "order_infos_list <%= css %>">
      <td><%= order_info.id %></td>
      <td><%= order_info.company_id %></td>
      <td><%= order_info.unit_id %></td>
      <td><%= order_info.author %></td>
      <td><%= order_info.revenue_unit_id %></td>
      <td><%= order_info.project_id %></td>
      <td><%= order_info.business_id %></td>
      <td><%= order_info.contract_start_date %></td>
      <td><%= order_info.contract_end_date %></td>
      <td><%= order_info.work_place %></td>
      <td><%= order_info.income_date %></td>
      <td><%= order_info.payment_site_id %></td>
      <td><%= order_info.work_start_date %></td>
      <td><%= order_info.work_end_date %></td>
      <td><%= order_info.other %></td>
      <td><%= order_info.general_receipt_date %></td>
      <td><%= order_info.general_order_date %></td>
      <td><%= order_info.general_order_no %></td>
      <td><%= order_info.general_other %></td>
      <td><%= link_to '参照', order_info %></td>
      <td><%= link_to '更新', edit_order_info_path(order_info) %></td>
      <td><%= link_to '削除', order_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規登録', new_order_info_path %>
