<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @order_info.company_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @order_info.unit_id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @order_info.author %>
</p>

<p>
  <strong>Revenue unit:</strong>
  <%= @order_info.revenue_unit_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @order_info.project_id %>
</p>

<p>
  <strong>Business:</strong>
  <%= @order_info.business_id %>
</p>

<p>
  <strong>Contract start date:</strong>
  <%= @order_info.contract_start_date %>
</p>

<p>
  <strong>Contract end date:</strong>
  <%= @order_info.contract_end_date %>
</p>

<p>
  <strong>Work place:</strong>
  <%= @order_info.work_place %>
</p>

<p>
  <strong>Income date:</strong>
  <%= @order_info.income_date %>
</p>

<p>
  <strong>Payment site:</strong>
  <%= @order_info.payment_site_id %>
</p>

<p>
  <strong>Work start date:</strong>
  <%= @order_info.work_start_date %>
</p>

<p>
  <strong>Work end date:</strong>
  <%= @order_info.work_end_date %>
</p>

<p>
  <strong>Other:</strong>
  <%= @order_info.other %>
</p>

<p>
  <strong>General receipt date:</strong>
  <%= @order_info.general_receipt_date %>
</p>

<p>
  <strong>General order date:</strong>
  <%= @order_info.general_order_date %>
</p>

<p>
  <strong>General order no:</strong>
  <%= @order_info.general_order_no %>
</p>

<p>
  <strong>General other:</strong>
  <%= @order_info.general_other %>
</p>


<%= link_to 'Edit', edit_order_info_path(@order_info) %> |
<%= link_to 'Back', order_infos_path %>
