<p id="notice"><%= notice %></p>

<p>
  <strong>Order no:</strong>
  <%= @order_info.order_no %>
</p>

<p>
  <strong>Department cd:</strong>
  <%= @order_info.department_cd %>
</p>

<p>
  <strong>Author:</strong>
  <%= @order_info.author %>
</p>

<p>
  <strong>Revenue unit code:</strong>
  <%= @order_info.revenue_unit_code %>
</p>

<p>
  <strong>Project cd:</strong>
  <%= @order_info.project_cd %>
</p>

<p>
  <strong>Business cd:</strong>
  <%= @order_info.business_cd %>
</p>

<p>
  <strong>Contract start date:</strong>
  <%= @order_info.contract_start_date %>
</p>

<p>
  <strong>Contract end date:</strong>
  <%= @order_info.contract_end_date %>
</p>

<p>
  <strong>Work place:</strong>
  <%= @order_info.work_place %>
</p>

<p>
  <strong>Income date:</strong>
  <%= @order_info.income_date %>
</p>

<p>
  <strong>Payment site:</strong>
  <%= @order_info.payment_site %>
</p>

<p>
  <strong>Work start date:</strong>
  <%= @order_info.work_start_date %>
</p>

<p>
  <strong>Work end date:</strong>
  <%= @order_info.work_end_date %>
</p>

<p>
  <strong>Other:</strong>
  <%= @order_info.other %>
</p>

<p>
  <strong>General receipt date:</strong>
  <%= @order_info.general_receipt_date %>
</p>

<p>
  <strong>General order date:</strong>
  <%= @order_info.general_order_date %>
</p>

<p>
  <strong>General order no:</strong>
  <%= @order_info.general_order_no %>
</p>

<p>
  <strong>General other:</strong>
  <%= @order_info.general_other %>
</p>


<%= link_to 'Edit', edit_order_info_path(@order_info) %> |
<%= link_to 'Back', order_infos_path %>
