<%= render '/layouts/header' %>
<h2>職制マスタ　一覧</h2>

<%= link_to '新規登録', new_unit_master_path %>
<br />>
<table id="default">
  <thead>
    <tr>
      <th>部署ID</th>
      <th>部署名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_masters.each do |unit_master| %>
    <tr>
      <td><%= unit_master.id %></td>
      <td><%= unit_master.unit_name %></td>
      <td><%= link_to '照会', unit_master %></td>
      <td><%= link_to '更新', edit_unit_master_path(unit_master) %></td>
      <td><%= link_to '削除', unit_master, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

