<%= form_for(order_date) do |f| %>
  <% if order_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_date.errors.count, "error") %> prohibited this order_date from being saved:</h2>

      <ul>
      <% order_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br />
    <%= f.date_select :order_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
