<h1>Listing order_dates</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Order date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_dates.each do |order_date| %>
    <tr>
      <td><%= order_date.order_id %></td>
      <td><%= order_date.order_date %></td>
      <td><%= link_to 'Show', order_date %></td>
      <td><%= link_to 'Edit', edit_order_date_path(order_date) %></td>
      <td><%= link_to 'Destroy', order_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Order date', new_order_date_path %>
