<%= render '/layouts/header' %>
<h2>職制マスタ　一覧</h2>

<table>
  <thead>
    <tr>
      <th>職制/th>
      <th>経費</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @position_masters.each do |position_master| %>
    <tr>
      <td><%= position_master.position_name %></td>
      <td><%= position_master.position_expenses %></td>
      <td><%= link_to '照会', position_master %></td>
      <td><%= link_to '更新', edit_position_master_path(position_master) %></td>
      <td><%= link_to '削除', position_master, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Position master', new_position_master_path %>
