<%= render '/layouts/header' %>
<h2>職制マスタ　照会</h2>
<p>
  <strong>職制:</strong>
  <%= @position_master.position_name %>
</p>

<p>
  <strong>経費:</strong>
  <%= @position_master.position_expenses %>
</p>


<%= link_to 'Edit', edit_position_master_path(@position_master) %> |
<%= link_to 'Back', position_masters_path %>
