<%= form_for(@project_master) do |f| %>
  <% if @project_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_master.errors.count, "error") %> prohibited this project_master from being saved:</h2>

      <ul>
      <% @project_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_cd %><br />
    <%= f.number_field :project_cd %>
  </div>
  <div class="field">
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
