<h1>Listing project_masters</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Project name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_masters.each do |project_master| %>
    <tr>
      <td><%= project_master.company_id %></td>
      <td><%= project_master.project_name %></td>
      <td><%= link_to 'Show', project_master %></td>
      <td><%= link_to 'Edit', edit_project_master_path(project_master) %></td>
      <td><%= link_to 'Destroy', project_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Project master', new_project_master_path %>
