<%= render '/layouts/header' %>
<h2>案件マスタ　一覧</h2>

<table id="default">
<%= link_to '新規登録', new_project_master_path %>
<br />
  <thead>
    <tr>
      <th>案件ID</th>
      <th>取引先会社名</th>
      <th>案件名</th>
      <th colspan=3></th>
    </tr>
  </thead>

  <tbody>
    <% @project_masters.each do |project_master| %>
    <tr>
      <td><%= project_master.project_id %></td>
      <td><%= CompanyMaster.find(project_master.company_id).company_name %></td>
      <td><%= project_master.project_name %></td>
      <td><%= link_to '照会', project_master %></td>
      <td><%= link_to '更新', edit_project_master_path(project_master) %></td>
      <td><%= link_to '削除', project_master, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

