<%= render '/layouts/header' %>
<h2>案件マスタ　一覧</h2>

<table>
  <thead>
    <tr>
      <th>取引先会社</th>
      <th>案件名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_masters.each do |project_master| %>
    <tr>
      <td><%= project_master.company_id %></td>
      <td><%= project_master.project_name %></td>
      <td><%= link_to '照会', project_master %></td>
      <td><%= link_to '更新', edit_project_master_path(project_master) %></td>
      <td><%= link_to '削除', project_master, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Project master', new_project_master_path %>
