<p id="notice"><%= notice %></p>

<p>
  <strong>Payment site code:</strong>
  <%= @payment_site_master.payment_site_code %>
</p>

<p>
  <strong>Payment site name:</strong>
  <%= @payment_site_master.payment_site_name %>
</p>


<%= link_to 'Edit', edit_payment_site_master_path(@payment_site_master) %> |
<%= link_to 'Back', payment_site_masters_path %>
