<%= render '/layouts/header' %>
<h2>入金サイトマスタ　照会</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Payment site name:</strong>
  <%= @payment_site_master.payment_site_name %>
</p>


<%= link_to '更新', edit_payment_site_master_path(@payment_site_master) %> |
<%= link_to '戻る', payment_site_masters_path %>
